{% if user is None %}
Qui êtes vous ?
Rentrez votre nom.

<form action="/choose/" method="post">
    {% csrf_token %}
    <select name="user" id="choice{{ forloop.counter }}">
{% for user in users %}
<option for="c{{ forloop.counter }}">#{{user.rank}}: {{ user.name }}</option><br>
{% endfor %}
    </select>
<input type="submit" value="Valider">
</form>
{% else %}
Vous êtes {{ user.name }} classé {{ user.rank }}.
{% endif %}

{% if user is not None and choice is None %}

<form action="/choose/" method="post">
    {% csrf_token %}
    <select name="choice" id="choice{{ forloop.counter }}" default="{{ choice }}">
{% for gift in gifts %}
<option for="c{{ forloop.counter }}">#{{ gift.number }}: {{ gift.name }}</option><br>
{% endfor %}
    </select>
<input type="submit" value="Valider">
</form>
{% elif user is not None and choice is not None %}

Vous avez choisi {{ choice }}

{% endif %}

{% if user is not None %}
<form action"=/choose/" method="post">
    {% csrf_token %}
    <input type="submit" value="Retour" name="back">
</form>
{% endif %}
